.top-strip .menu{
    display:none;

}
.top-strip button{
    color:white;
    font-size:15px;
    font-weight:600;
    padding:3px 10px;
    cursor:pointer;
    margin-right:5px;
}

@media screen and (max-width:767px){
    .top-strip .pera{
        font-size:11px;
    }
    .top-strip .menu-web{
        display:none;
    }
   .top-strip .menu{
    display:inline-block;
    text-align:end;
   }
   .top-strip .menu-mobile{
    position:absolute;
    top:1.50rem;
    left:0;
    background-color:#7d0492;
    color:white;
    width:100%;
    
}
   .top-strip .menu-mobile ul{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding-right:18%;
    justify-content:center;
   }
}